<h1>Здравствуйте, @ViewBag.Name</h1>
<br>
@if (ViewBag.Role == "Teacher")
{
    <h2>Ваша роль в системе: @ViewBag.RoleFromTable</h2>
    <br>
    @if(ViewBag.Class != null)
    {
        <h3>Ваш класс - @ViewBag.Class</h3>
        <br>
    }
}
else if (ViewBag.Role == "Parent")
{
    <h2>Дети обучающиеся в школе:</h2>
    <br>
    {
        int count = 0;
        @foreach (var item in ViewBag.Students)
        {
            count++;
            <a>@count. @item</a>
            <br>
        }

    }
}
else
{
    <h2>Ваш класс - @ViewBag.Class</h2>
    <br>
    <h3>Родители, либо опекуны:</h3>
    <br>
    {
        int count = 0;

        @foreach (var item in ViewBag.Parents)
        {
            count++;
            <a>@count. @item</a>
            <br>
        }

    }
}