@model ICollection<AcademicPerformance>
@using (Html.BeginForm("Journal", "Home", FormMethod.Post))
{
    <div class="container-fluid">

        <div class="row">
            <div class="col" style="margin-bottom: 5px; width: 10%">
                <h5>Выберите год:</h5>
                @Html.DropDownList("year", ViewBag.Year as SelectList, new {@class="form-select"})
            </div>
            <div class="col" style="margin-bottom: 5px; width: 10%">
                <h5>Выберите месяц:</h5>
                @Html.DropDownList("month", ViewBag.Month as SelectList, new {@class="form-select"})
            </div>
            @if (ViewBag.IsTeaher || ViewBag.IsParent)
            {
                <div class="col" style="margin-bottom: 5px; width: 10%">
                    <h5>Выберите класс:</h5>
                    @Html.DropDownList("classId", ViewBag.ClassId as SelectList, new {@class="form-select"})
                </div>
            }
            <div class="col" style="margin-bottom: 5px; width: 10%">
                <h5>Выберите школьный предмет:</h5>
                @Html.DropDownList("subjectId", ViewBag.SubjectId as SelectList, new {@class="form-select"})
            </div>
        </div>
        <div class="row">
            <div class="col-11">
                <input style="margin-bottom: 5px" type="submit" name="confirm" id="submit" value="Подтвердить" class="btn btn-success" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                @if (ViewBag.IsTeaher)
                {
                    <a style="margin-bottom: 5px" asp-controller="Home" asp-action="SetHomework" class="btn btn-warning">Задать домашнее задание</a>
                }
            </div>
        </div>
        <div class="row">
            <div class="row">
                @if (Model == null)
                {
                    <a>Результатов не найдено!</a>
                }
                else
                {
                    @if (ViewBag.SelectedYear != null && ViewBag.SelectedMonth != null)
                    {
                        <table>
                            <tr>
                                <th width="400" style="text-align:center">Ученик</th>
                                @for (int i = 1; i <= DateTime.DaysInMonth(Convert.ToInt32(ViewBag.SelectedYear), Convert.ToInt32(ViewBag.SelectedMonth)); i++)
                                {
                                    <th style="text-align:center">@{
                                            DateTime dt = new DateTime(Convert.ToInt32(ViewBag.SelectedYear), Convert.ToInt32(ViewBag.SelectedMonth), i);
                                            string date = dt.ToString("ddd");
                                        }
                                        @if (date == "вс" || date == "сб")
                                        {
                                            <a style="color:orangered">@i</a>
                                            <br>
                                            <a style="color:orangered">@date</a>
                                        }
                                        else
                                        {
                                            <a>@i</a>
                                            <br>
                                            <a>@date</a>
                                            <br>
                                        }
                                        @{
                                            var ctDate = Model.Select(s => new {s.Date, s.TypeControlId}).Where(s => s.TypeControlId == 2).Distinct().ToList();
                                            foreach (var item in ctDate)
                                            {
                                                if(item.Date == dt){
                                                <a style="color: red">КТ</a>
                                                <br>
                                                }
                                            }
                                        }
                                    </th>
                                }
                                @if (ViewBag.IsTeaher)
                                {
                                    <th width="200">Оценивание</th>
                                }
                            </tr>
                            @{
                                var studentGetsGrades = ViewBag.Students;
                                int count = 0;
                                foreach (var students in studentGetsGrades)
                                {
                                    count++;
                                    <tr style="">
                                        <td width="200" style="border-bottom: 1px solid black; border-right: 1px solid black">@students.Name</td>
                                        @{
                                            var datesByGrade = Model.Select(d => new { d.Student, d.Date }).Where(s => s.Student.Name == students.Name);
                                            int lastCheckedDay = 0;
                                        }
                                        @for (int i = lastCheckedDay + 1; i <= DateTime.DaysInMonth(Convert.ToInt32(ViewBag.SelectedYear), Convert.ToInt32(ViewBag.SelectedMonth)); i++)
                                        {
                                            var dates = datesByGrade.Select(s => s.Date).Distinct().ToList();
                                            var date = new DateTime(ViewBag.SelectedYear, ViewBag.SelectedMonth, i);
                                            //Проверяем день на ниличие оценок
                                            if (dates.Contains(date))
                                            {
                                                //Теперь проверяем кол-во оценок
                                                string grades = "";
                                                string gradeIds = "";
                                                <td width="100" style="text-align: center; border-bottom: 1px solid black; border-right: 1px solid black">
                                                    @foreach (var item in @Model.Select(s => new { s.Id, s.Student, s.Date, s.Grade }).Where(s => s.Student.Name == students.Name && s.Date == date))
                                                    {
                                                        gradeIds += item.Id.ToString() + ";";
                                                        if (item.Grade == 0)
                                                        {
                                                            grades += "н";
                                                        }
                                                        else
                                                        {
                                                            grades += item.Grade.ToString() + "/";
                                                        }
                                                    }
                                                    @{
                                                        gradeIds = gradeIds.Trim(';');
                                                    }
                                                    <a style="color:black" href="@Url.Action("UpdateStudentGrade", "Home", new {id = gradeIds})">
                                                        @grades.Trim('/')
                                                    </a>
                                                </td>
                                                lastCheckedDay = i;
                                            }
                                            else
                                            {
                                                var dt = new DateTime(Convert.ToInt32(ViewBag.SelectedYear), Convert.ToInt32(ViewBag.SelectedMonth), i);
                                                if (dt.ToString("ddd") == "сб" || dt.ToString("ddd") == "вс" ){
                                                    <td width="100" style="border-bottom: 1px solid black; border-right: 1px solid black"></td>
                                                }
                                                else{
                                                    <td width="100" style="border-bottom: 1px solid black; border-right: 1px solid black">
                                                        <input type="text" name="@i" class="form-control form-group" />
                                                    </td>
                                                }
                                                lastCheckedDay = i;
                                            }
                                        }
                                        @if (ViewBag.IsTeaher)
                                        {
                                            <td style="border-bottom: 1px solid black">
                                                <input style="margin-bottom: 5px" type="submit" name="-@students.Id" value="Оценить" class="btn btn-success" />
                                            </td>
                                        }
                                    </tr>
                                }
                            }
                        </table>
                    }
                }
            </div>
        </div>
    </div>
    <asp:Button ID="myButton" runat="server" Text="Нажми меня" OnClick="myButton_Click" />

}
