@using (Html.BeginForm())
{
    <div class="container-fluid">
        <div>
            @if (ViewBag.IsTeacher)
            {
                string grades = ViewBag.Grades;
                DateTime date = ViewBag.Date;

                <div class="col" style="margin-bottom: 5px">
                    <h5>Напишите оценку:</h5>
                    @Html.TextBox("grades", grades, new {@class="form-control form-group"})
                </div>
                <div class="col" style="margin-bottom: 5px">
                    <h5>Выберите тип контроля:</h5>
                    @Html.DropDownList("typeControlId", ViewBag.TypeControlId as SelectList, new {@class="form-select"})
                </div>
                <div class="col" style="margin-bottom: 5px">
                    <h5>Выберите срок сдачи:</h5>
                    <input name="date" type="Date" class="form-control" value="@date.ToString("yyyy-MM-dd")" />
                </div>
                <div class="row">
                    <div class="col-11">
                        <input style="margin-bottom: 5px" type="submit" name="submit" value="Подтвердить" class="btn btn-success" />
                        <input style="margin-bottom: 5px" type="submit" name="submit" value="Отменить" class="btn btn-danger" asp-controller="Home" asp-action="Journal"/>
                    </div>
                </div>
            }
            else
            {
                int grade1 = ViewBag.Grade1;
                int? grade2 = ViewBag.Grade2;
                DateTime date = ViewBag.Date;
                string typeControl = Convert.ToString(ViewBag.Type);
                <div style="background-color:lightgrey; border-radius: 10px; padding: 20px;">
                    <h2>Оценка: @grade1</h2>
                </div>
                <br>
                @if (grade2 != null)
                {
                    <div style="background-color:lightgrey; border-radius: 10px; padding: 20px;">
                        <h2>Вторая оценка: @grade2</h2>
                    </div>
                    <br>
                }
                <div style="background-color:lightgrey; border-radius: 10px; padding: 20px;">
                    <h2>Тип контроля: @typeControl</h2>
                </div>
                <br>
                <div style="background-color:lightgrey; border-radius: 10px; padding: 20px;">
                    <h2>Дата сдачи: @date.ToString("d")</h2>
                </div>
                <br>
            }
        </div>
    </div>
}